
<div class="container w-75 p-5">

  <div class="card mb-5">
    <h1 class="card-header">
      {{ form?.name  }}
    </h1>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ form?.description }}</p>
      </blockquote>
    </div>
  </div>
  <form
    class="form-control p-3"
    #surveyForm="ngForm"
    (ngSubmit)="onSubmitSurveyForm(surveyForm)"
    id="surveyForm"
  >
    <div class="form-group">
      <label class="surveyQuestions" for="email">Enter Your email</label>
      <input
        class="form-control"
        placeholder="Enter Your email address"
        name="email"
        id="email"
        ngModel
        email
        required
        #email="ngModel"
      />
      <span *ngIf="!email.valid && email.touched" class="help-block"
        >Please enter valid email</span
      >
    </div>

      <div *ngFor="let input of questions; let i = index">
        <div *ngIf="input.type === 'paragraph'" class="form-group">
          <label class="surveyQuestions" for="paragraph{{ i }}">{{ i + 1 }}. {{ input.label }}</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter response"
            name="{{ input.label }}"
            ngModel
            required
          />
        </div>

        <div *ngIf="input.type === 'date'" class="form-group">
          <label class="surveyQuestions" for="date{{ i }}">{{ i + 1 }}.  {{input.label}}</label><br>
          <mat-form-field appearance="outline">
            
            <input
            class="form-control w-25"
              matInput
              ngModel
              name="{{ input.label }}"
              [matDatepicker]="picker"
              (click)="picker.open()"
              required
            />
            <mat-datepicker-toggle
              style="width: 30px;height: 30px;"
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        </div>

        <div *ngIf="input.type === 'radio'">
          <label class="surveyQuestions" for="radioButtonQuestion">{{ i + 1 }}.  {{ input.label }}</label>

          <div *ngFor="let option of input.options; let z = index">
            <div class="radio m-2">
              <label for="radioButtonOption{{ z }}"
                ><input class="m-1"
                  type="radio"
                  name="{{ input.label }}"
                  id="radioButtonOption{{ z }}"
                  value="{{ option }}"
                  ngModel
                  required
                />{{ option }}</label
              >
            </div>
          </div>
        </div>
        <div *ngIf="input.type === 'select'">
          <label class="surveyQuestions" for="selectInputQuestion">{{ i + 1 }}.  {{ input.label }}</label>
          <select
            name="{{ input.label }}"
            class="form-control"
            id="selectInputQuestion"
            ngModel
            required
            #select="ngModel"
          >
            <option selected>Select Type of Input</option>
            <option *ngFor="let option of input.options" value="{{ option }}">
              {{ option }}
            </option>
          </select>
          <span *ngIf="!select.valid && select.touched" class="help-block"
            >Please enter valid Response</span
          >
        </div>
      </div>
      <button
        [disabled]="!surveyForm.valid"
        type="submit"
        class="btn btn-primary"
      >
        Save
      </button>
  </form>
</div>
