/* .surveyForm{
    border: 1px solid black;
    height:70vh;
    background-color: cornsilk;
    width:50%;
    margin:20px auto;
    padding: 30px;
    border-radius: 10%;
} */
span.help-block{
    color: rgb(247, 54, 54);
}
input.ng-invalid.ng-touched {
    border:2px solid rgb(255, 119, 119);
}

#surveyForm > * {
    padding: 10px;
}

.surveyQuestions{
    font-weight:500;
    font-size: 1rem;
}