<div class="surveys m-5">
    <h1>Surveys</h1>
 
    
    <div class="row">
        <div class="col-sm" *ngFor="let survey of surveys; index as i">
          <div class="card" style="width: 17rem">
            <div class="card-body">
              <h5 class="card-title">{{ survey.name }}</h5>
              <p class="card-text">{{ survey.description }}</p>
              <a [routerLink]="getLink(i)" class="card-link">Fill</a>
            </div>
          </div>
        </div>
      </div>


      
    
</div>