<div class="surveys m-5">
  <h1>Surveys</h1>

  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let survey of surveys; index as i">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column text-center align-items-center">
            <div class="flex-grow-1 pt-4">
              <h5>{{ survey.name }}</h5>
              <span class="d-block text-muted m-2">{{
                survey.description
              }}</span>
            </div>
          </div>
        </div>

        <!--Footer states-->
        <div class="card-footer py-0 border-top onhover">
          <div class="row">
            <div class="col text-center p-3">
              <span class="hovertext" data-hover="Fill survey">
                <i [routerLink]="getLink(i)" class="bi bi-ui-checks"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
