.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;


}

.alert-box{
    position: fixed;
    top : 30vh;
    left: 20vh;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.alert-box-actions{
    text-align: right;
}

.clk-button {
    background-image: linear-gradient(to bottom, #4d4b4b 51%, #101011 100%);
    color: white;
    margin-right: 8px;
    /* float: right; */
  }
  
  .clk-button:hover {
    background-image: linear-gradient(to bottom, #4d4b4b 20%, #101011 100%);
  }
  