
  h2{
    color: #2b7a78;
    margin: 0;
    
  }
  .clk-button {
    background-color: #2b7a78;
    color: white;
    margin-left: auto;
    /* float: right; */
  }
  
  .clk-button:hover {
  background-color: #3aafa9;
  }

  .chart {
    width: 600px;
    height: 300px;
    display: flex
  }
  .heading{
    display: flex;
  }