@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
.active {
    font-weight: bold;
}

.tab:hover {
    font-weight: bold;
}

.logo{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
}

.tab {
    margin: 12px 0 0 12px;
}

.text-end {
    margin-right: 30px;
}

header{
    background-color: #2b7a78;
}
