<header class="text-white px-1">
   
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center" >
          <li><a routerLink="/home" class="nav-link px-2 text-white logo">INSIGHT</a></li>
          <li><a *ngIf="isLoggedIn()" routerLink="/admin-dashboard" routerLinkActive="active" class="nav-link px-2 text-white tab">Dashboard</a></li>
          <li><a routerLink="/surveys" routerLinkActive="active" class="nav-link px-2 text-white tab">Surveys</a></li>
         
        </ul>

        <div class="text-end" >
          <!-- <button *ngIf="!isLoggedIn()" type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button> -->
          <button *ngIf="!isLoggedIn()"  type="button" class="btn btn-outline-light me-2" routerLink="/signup">Sign-up</button>
            <li  *ngIf="isLoggedIn()" class="nav-item dropdown" style="list-style-type: none;">
              <a class="nav-link dropdown-toggle mb-1" id="navbarDarkDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i> {{ getUsername() }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/profile"> <i class="fas fa-user-circle"></i> Profile</a></li>
                  <li><a class="dropdown-item"  (click)="logout()" ><i class="fas fa-cog"> </i> Logout</a></li>
              </ul>
                    </li>
          <!-- <button *ngIf="isLoggedIn()"  type="button" class="btn btn-outline-light me-2" (click)="logout()">Logout</button> -->
        </div>

      </div>
    
  </header>