::placeholder {
  color: #444e58;
  opacity: 1;
}

.card-header-input {
  outline: none;
  background-color: #2b7a78;
  color: white;
  border: 0px
}

.card-header-input:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.text-body-input{
  outline: none;
  background-color: white;
  border: 0px;
}
.text-body-input:focus{
  outline: none;
  border-bottom: 2px solid black;
}

#displayFormInputs > * {
  margin: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
}
.clk-button-add:hover{
  background-color: #3aafa9;
}


.clk-button-add {
  background-color: #2b7a78;
  color: white;
  float: right;
  margin-right: 8px;
}

label {
  margin-bottom: 0.7rem;
}

.input-question {
  border-left: 10px solid #212529;
}


.clk-button:hover {
  background-image: linear-gradient(to bottom, #4d4b4b 20%, #101011 100%);
}

.question-label {
  font-size: 18px;
}
.card-header{
  background-color: #2b7a78;
}
.bi {
  color: black;
}

h1{
  color: #2b7a78;
}