.chart {
    width: 500px;
    height: 250px;
    margin-left: 70px;


  }
  

  h2{
    color: #2b7a78;
  }

  label{
    font-weight: 500;
    margin: 10px;
    }

.card{
  height: 330px;
  width: 400px;
  margin-right: 20px;

}
