.login-form{ 
  width: 40%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}

body{
  background-image: linear-gradient(to bottom, #2b7a78 20%, #3aafa9 100%);
}

button{
    margin: 0.5rem;
}

.clk-button {
background-color: #2b7a78;
    color: white;
    /* float: right; */
  }

  .clk-button:hover {
    background-color: #3aafa9;
  }
  
  .form-group{
    margin: 10px;
  }

.form-control{
    margin: 5px;
}
