<div class="d-flex justify-content-center">
  <div>
    <div class="card m-3">
      <div>
        <h1 class="card-header">{{ name }}</h1>
        <h6 class="card-body">
          <i>{{ description }}</i>
        </h6>
      </div>
    </div>
    <!-- <form [formGroup]="newInputForm" (ngSubmit)="onSubmit()">
      <button class="btn btn-success" (click)="onAddInput()">New Input</button>
    </form> -->
    <form [formGroup]="newInputForm">
      <app-new-form-builder [newInputForm]="newInputForm"></app-new-form-builder>
    </form>
    <app-new-survey-input-card></app-new-survey-input-card>
  </div>
</div>
