::placeholder {
  color: #444e58;
  opacity: 1;
}

#displayFormInputs > * {
  margin: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
}

label {
  margin-bottom: 0.7rem;

}

.input-question {
  border-left: 10px solid #212529;
}

.clk-button-add {
  background-image: linear-gradient(to bottom, #4d4b4b 51%, #101011 100%);
  color: white;
  float: right;
}

.clk-button {
  background-image: linear-gradient(to bottom, #4d4b4b 51%, #101011 100%);
  color: white;
  /* float: right; */
}


.clk-button-add {
  background-image: linear-gradient(to bottom, #4d4b4b 51%, #101011 100%);
  color: white;
  float: right;
  margin-right: 8px;
}

.clk-button {
  background-image: linear-gradient(to bottom, #4d4b4b 51%, #101011 100%);
  color: white;
  /* float: right; */
}

.clk-button:hover {
  background-image: linear-gradient(to bottom, #4d4b4b 20%, #101011 100%);
}

.question-label {
  font-size: 24px;
}

.bi {
  color: black;

}