<div class="d-flex justify-content-center">
  <div>
    <div class="card m-3">
      <div>
        <h1 class="card-header">{{ name }}</h1>
        <h6 class="card-body">
          <i>{{ description }}</i>
        </h6>
      </div>
    </div>
    <app-new-survey-input-card></app-new-survey-input-card>
  </div>
  <div class="m-3">
    <div class='m-3'><button (click)="addShortAnswer()">Short Answer Question</button></div>
    <div class="m-3"><button (click)="addShortAnswer()">Short Answer Question</button></div>
    <div class="m-3"><button (click)="addShortAnswer()">Short Answer Question</button></div>
  </div>
</div>
