<div class="d-flex justify-content-center">
  <div class="card mt-5 w-50">
    <h1 class="card-header">
     {{ formName }}
    </h1>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ description }}</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="w-50">
    <form
      [formGroup]="dynamicForm"
      class="form-control p-4 input-question px-4"
      (ngSubmit)="onAddInputElement()"
    >
      <div class="input-group">
        <span class="input-group-text inputstyle px-3">Question</span>
        <input
          class="form-control"
          type="text"
          placeholder="Enter your question"
          formControlName="question"
        />
      </div>

      <div class="input-group  mt-2">
        <span class="input-group-text  inputstyle" for="inputGroupSelect02"
          >Input Type</span
        >
        <select class="form-select" formControlName="type" (change)="onOptionAdded()">
          <option selected>Select Type of Input</option>
          <option *ngFor="let type of inputTypes">{{ type }}</option>
        </select>
      </div>

      <!--  -->
      <!-- Dynamic Content -->
      <!--  -->

      <div
        formArrayName="options"
        *ngIf="
          this.dynamicForm.get('type').value === 'radio' ||
          this.dynamicForm.get('type').value === 'checkbox' ||
          this.dynamicForm.get('type').value === 'select'
        "
      >
        <div style="height: 30px">
          <button
            class="btn btn-secondary mt-2 mr-2 clk-button-add"
            type="button"
            (click)="onAddOption()"
            
        
          >
            Add Option
          </button>
        </div>

        <div
          *ngFor="
            let controls of dynamicForm.get('options')['controls'];
            let i = index
          "
          class="mt-2"
        >
          <label for="option{{ i }}"
            ><strong>Option {{ i + 1 }}. </strong></label
          >
          <span style="display: flex; align-items: center">
            <input
              type="text"
              placeholder="enter option"
              [formControlName]="i"
              class="form-control"
            />
            <a
              style="cursor: pointer; margin-left: 10px"
              (click)="onAddOption()"
              ><i class="bi bi-plus"></i
            ></a>
            <a
              style="cursor: pointer; margin-left: 10px"
              (click)="onDeleteOption(i)"
              ><i class="bi bi-trash"></i
            ></a>
          </span>
        </div>
      </div>
      <div style="height: 50px">
        <button class="btn mt-3 clk-button" type="submit" [disabled]="isButtonDisabled">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="w-50">
    <form
      class="form-control p-4 mt-4"
      #surveyForm="ngForm"
      (ngSubmit)="onSubmitSurveyForm(surveyForm)"
    >
      <h1>Preview Form</h1>
      <hr />
      <div
        *ngFor="let input of dynamicInputs; let i = index"
        id="displayFormInputs"
      >
        <!-- Paragraph -->
        <div *ngIf="input.type === 'paragraph'" class="form-group">
          <label for="paragraph{{ i }}" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >
          <input
            class="form-control"
            type="text"
            placeholder="Enter response"
            name="question{{ i }}"
            ngModel
            required
            #paragraph="ngModel"
            disabled
          />
        </div>
        <!-- telephone -->
        <div *ngIf="input.type === 'tel'" class="form-group">
          <label for="tel{{ i }}" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >
          <input
            class="form-control"
            type="tel"
            pattern="[0-9]{10}"
            placeholder="Enter response"
            name="question{{ i }}"
            ngModel
            required
            #tel="ngModel"
            disabled
          />
        </div>
        <!-- number -->
        <div *ngIf="input.type === 'number'" class="form-group">
          <label for="number{{ i }}" class="question-label">
            {{ i + 1 }}. {{ input.label }}
          </label>
          <input 
          class="form-control"
          type="number"
          min="0" max="10000000000"
          placeholder="Enter number"
          name="question{{i}}"
          ngModel
          required
          #number="ngModel"
          disabled/>
        </div>

        <!-- Date -->
        <div *ngIf="input.type === 'date'" class="form-group">
          <label for="DateQuestion" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >

          <input
            type="date"
            class="form-control"
            id="DateQuestion"
            [(ngModel)]="date"
            name="date"
            disabled
          />
        </div>

        <!-- Radio -->
        <div *ngIf="input.type === 'radio'">
          <label for="radioButtonQuestion" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >
          <div *ngFor="let option of input.options; let z = index">
            <div class="radio pe-2">
              <input
                type="radio"
                name="optradio"
                id="radioButtonOption{{ z }}"
              />
              <label for="radioButtonOption{{ z }}" class="ps-2">{{ option }}</label>
            </div>
          </div>
        </div>

        <!--checkbox-->
        <div *ngIf="input.type === 'checkbox'">
          <label for="checkBoxQuestion" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >
          <div *ngFor="let option of input.options; let z = index">
            <div class="checkbox pe-2">
              <input
                type="checkbox"
                name="optcheckbox"
                id="checkBoxOption{{ z }}"
              />
              <label for="checkBoxOption{{ z }}" class="ps-2">{{ option }}</label>
            </div>
          </div>
        </div>


        <!-- Select -->
        <div *ngIf="input.type === 'select'">
          <label for="selectInputQuestion" class="question-label"
            >{{ i + 1 }}. {{ input.label }}</label
          >
          <select
            class="form-select"
            id="exampleFormControlSelect"
            name="SelectQuestion"
          >
            <option selected>Select Type of Input</option>
            <option *ngFor="let option of input.options" value="{{ option }}">
              {{ option }}
            </option>
          </select>
        </div>
      </div>

      <ng-template [ngIf]="dynamicInputs.length > 0">
        <div style="height: 30px">
          <button type="submit" class="btn clk-button-add">Save</button>
          <button type="submit" class="btn clk-button-add" (click)="onCancel()">Cancel</button>
        </div>
      </ng-template>
    </form>
  </div>
</div>
