::placeholder {
  color: #444e58;
  opacity: 1;
}

#displayFormInputs > * {
  margin: 1.5rem 0.5rem;
  margin: 1.5rem 0.5rem;
}
h1{
  color: #2b7a78;
}

body{margin-top:20px;
  background:#eee;
  }


label {
  margin-bottom: 0.7rem;

}

.input-question {
  border-left: 10px solid #2b7a78;
}




.clk-button-add:hover{
  background-color: #3aafa9;
}


.clk-button-add {
  background-color: #2b7a78;
  color: white;
  float: right;
  margin-right: 8px;
}

.clk-button {
  background-color: #2b7a78;
  color: white;
  /* float: right; */
}


.clk-button:hover {
  background-color: #3aafa9;
}

.question-label {
  font-size: 24px;
}

.bi {
  color: black;

}
.inputstyle{
   background-color: #2b7a78;
   color: white;
}
.card {

  box-shadow: 0 10px 17px 0 rgba(2, 66, 66, 0.1);

}

.card-header{
  
  background-color: #2b7a78;
  color: white
  ;
}