<div class="container">
  <div class="mt-4 adminheader">
    <h1>My workspace</h1>

    <button type="button" class="btn clk-button" (click)="createForm()">
      <i class="bi bi-file-earmark-plus"></i> Create Survey
    </button>
  </div>

  <div *ngIf="newForm">
    <app-survey-details-intro></app-survey-details-intro>
  </div>
  <hr />
  <div class="surveys m-3">
    <h2>Surveys</h2>
    <div class="col" *ngFor="let survey of surveys; index as i">
      <div class="card justify-content-center mb-3">
        <div class="card-body d-flex align-items-center">
          <i class="bi bi-file-earmark-text surveyIcon iconsize"></i>
          <div class="flex-grow-1" [routerLink]="getLink(i)">
            <h5 class="card-title mt-2">{{ survey.name }}</h5>
          </div>
          <div class="d-flex">
            <a class="surveyIcon" [routerLink]="editSurvey(i)">
              <i class="bi bi-pencil-square iconsize"></i>
            </a>
            <a class="surveyIcon" [routerLink]="getResponses(i)">
              <i class="bi bi-eye-fill iconsize"></i>
            </a>
            <div class="dropdown  surveyIcon">
              <a data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical iconsize"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    [routerLink]="getLink(i)"
                  >
                    <i class="bi bi-ui-checks"></i> Fill
                  </button>
                </li>

                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    [routerLink]="getAnalytics(i)"
                  >
                    <i class="bi bi-bar-chart"></i> Analytics
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    type="button"
                    (click)="deleteSurvey(i)"
                  >
                    <i class="bi bi-trash-fill"></i> Delete
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
