.clk-button {
  background-color: #2b7a78;
  color: white;
  margin-left: auto;
  /* float: right; */
}

.clk-button:hover {
  background-color: #3aafa9;
}

.card:hover {
  box-shadow: 0 20px 27px 0 rgba(2, 66, 66, 0.1);
  
}

.adminheader {
  display: flex;
}

h1 {
  margin: 0;
}

.surveyIcon{
  background-color: #ecf8f8;
  color: #2b7a78;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 12px;
  text-align: center;
  vertical-align: middle; 
  text-decoration: none;
  display: table-cell;
  cursor: pointer;

}

.surveyIcon:hover{
  background-color: #2b7a78;
  color: #ecf8f8;
  text-decoration: none;
}

.iconsize{
font-size: 1.5rem;

}
 a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}
a::after, a{
  text-decoration: none;
  color:#2b7a78
}

.card-title{
  cursor: pointer;
}
.card{
 border-left: 10px solid #2b7a78;
 height: 80px;

 background-color: #ecf8f8;
}

