<div class="container">
  <div class="mt-4 adminheader">
    <h1>My workspace</h1>

    <button type="button" class="btn clk-button" (click)="createForm()">
      <i class="bi bi-file-earmark-plus"></i> Create Survey
    </button>
  </div>

  <div *ngIf="newForm">
    <app-survey-details-intro></app-survey-details-intro>
  </div>
  <hr />
  <div class="surveys m-3">
    <h2>Surveys</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-5" *ngFor="let survey of surveys; index as i">
        <div class="card mt-3" style="width: 20rem; height: 12rem">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">{{survey.name}}</h5>
            <div class="dropdown">
            
                <i class="bi bi-list" data-bs-toggle="dropdown" aria-expanded="false"></i>
            
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button"   [routerLink]="getLink(i)"> <i class="bi bi-ui-checks"></i>   Fill</button></li>
                <li><button class="dropdown-item" type="button"  [routerLink]="getResponses(i)"> <i class="bi bi-eye-fill"></i>   Responses</button></li>
                <li><button class="dropdown-item" type="button" [routerLink]="editSurvey(i)"> <i class="bi bi-pencil-square"></i>   Edit</button></li>
                <li><button class="dropdown-item" type="button" (click)="deleteSurvey(i)"> <i class="bi bi-trash-fill"></i>   Delete</button></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{survey.description}}</p>
          </div>
        </div>
        <!-- <div class="card" style="width: 20rem; height: 12rem">
          <div class="card-body">
            <div class="d-flex flex-column text-center align-items-center">
              <div class="flex-grow-1 pt-4">
                <h5>{{ survey.name }}</h5>
                <span class="d-block text-muted m-2">{{
                  survey.description
                }}</span>
              </div>
            </div>
          </div>


          <div class="card-footer py-0 border-top">
            <div class="row" style="margin: 0 -16px">
              <div
                [routerLink]="getLink(i)"
                class="col text-center p-3 onhover border-end"
                role="button"
              >
                <span class="hovertext" data-hover="Fill survey">
                  <i class="bi bi-ui-checks"></i>
                </span>
              </div>

              <div
                [routerLink]="editSurvey(i)"
                class="col text-center p-3 onhover border-end"
                role="button"
              >
                <span class="hovertext" data-hover="Edit survey">
                  <i class="bi bi-pencil-square"></i>
                </span>
              </div>

              <div
                [routerLink]="getResponses(i)"
                class="col text-center p-3 onhover border-end"
                role="button"
              >
                <span class="hovertext" data-hover="View Responses">
                  <i class="bi bi-eye-fill"></i>
                </span>
              </div>

              <div
                (click)="deleteSurvey(i)"
                class="col p-3 text-center onhover"
                role="button"
              >
                <span class="hovertext" data-hover="Delete survey">
                  <i class="bi bi-trash-fill"></i>
                </span>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
