<div
  *ngIf="questionFormGroup.get('title'); then titleEle; else questionEle"
></div>
<ng-template #titleEle>
  <div [formGroup]="questionFormGroup">
    <div formGroupName="title" class="row">
      <div class="col input-group-lg mb-1">
        <input
          class="form-control"
          type="text"
          placeholder="Insert title"
          formControlName="text"
        />
      </div>
    </div>
    <div formGroupName="title" class="row">
      <div class="col input-group-sm">
        <input
          class="form-control"
          type="text"
          placeholder="Description"
          formControlName="description"
        />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #questionEle [formGroup]="questionFormGroup" class="pt-0 pb-2">
  <div
    #questionEle
    formGroupName="question"
    class="d-flex justify-content-between pb-2"
  >
    <div>
      <!-- <input class="form-control" formControlName="text" type="text" /> -->
      <textarea formControlName="text" class="form-control m-2"></textarea>
    </div>
    <div>
      <select 
        formControlName="type"
        class="form-select mt-2"
         (change)="onChangeQuestionType(questionFormGroup.get('orderNo').value)"
      >
        <option value="singleSelection">Radio Button</option>
        <option value="multipleSelection">Check Boxes</option>
        <option value="freeText">Short Answer</option>
        <option value="titleQuestion">Title Question</option>
      </select>
    </div>
  </div>

  <div [ngSwitch]="questionType.value" class="pt-2 pb-4">
    <div *ngSwitchCase="'freeText'">
      <div class="row">
        <div class="col">
          <input
            class="form-control"
            type="text"
            placeholder="open text answer"
            disabled
          />
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'singleSelection'">
      <div
        formGroupName="question"
        cdkDropList
        (cdkDropListDropped)="dropRadioAnswer($event)"
      >
        <div
          formArrayName="offeredAnswers"
          class="row"
          *ngFor="
            let offeredAnswer of questionFormGroup.get(
              'question.offeredAnswers'
            )['controls'];
            let i = index
          "
         
        >
          <div class="col-7" [formGroupName]="i">
            <div class="form-check">
              <label
                class="form-check-label"
                [for]="'offeredAnswer' + offeredAnswer.value.orderNo"
              >
                <input
                  class="form-check-input"
                  type="radio"
                  (change)="onRadioCheck(offeredAnswer, i)"
                  [name]="'offeredAnswer' + offeredAnswer.value.orderNo"
                />
                <textarea
                  class="form-control"
                  type="text"
                  formControlName="value"
                  placeholder="Answer value"
                ></textarea>
                <!-- <div
                  *ngIf="offeredAnswer.value.remarkAnswer"
                  class="col mt-1 mb-2"
                >
                  <input
                    class="form-control"
                    type="text"
                    [name]="'offeredAnswerRemark' + offeredAnswer.value.orderNo"
                    placeholder="insert your remark"
                    disabled
                  />
                </div> -->
              </label>
            </div>
          </div>
          <div class="col-1">
            
              <i
                type="button"
                (click)="addNewRadioOption(i)"
                class="bi bi-plus-circle"
              ></i>
              <!-- <a
                *ngIf="!offeredAnswer.value.remarkAnswer"
                href="javascript:void(0)"
                (click)="onRemarkModeChange(i, true)"
                >Add remark</a
              >
              <a
                *ngIf="offeredAnswer.value.remarkAnswer"
                href="javascript:void(0)"
                (click)="onRemarkModeChange(i, false)"
                >Remove remark</a
              > -->
            
          </div>
          <div class="col-1">
            <i
              type="button"
              class="material-icons text-muted pointer"
              (click)="removeRadioAnswer(i)"
              class="bi bi-trash"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'multipleSelection'">
      <div
        formGroupName="question"
        cdkDropList
        (cdkDropListDropped)="dropCheckBoxAnswer($event)"
      >
        <div
          formArrayName="offeredAnswers"
          class="row"
          *ngFor="
            let offeredAnswer of questionFormGroup.get(
              'question.offeredAnswers'
            )['controls'];
            let i = index
          "
         
        >
          <div class="col-7" [formGroupName]="i">
            <div class="form-check">
              <label
                class="form-check-label"
                [for]="'offeredAnswer' + offeredAnswer.value.orderNo"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="onSelectCheckBox(offeredAnswer, i)"
                  [name]="'offeredAnswer' + offeredAnswer.value.orderNo"
                />
                <textarea
                  class="form-control"
                  type="text"
                  formControlName="value"
                  placeholder="Answer value"
                ></textarea>
              </label>
            </div>
          </div>
          <div class="col-1">
            
              <i
                type="button"
                (click)="addNewCheckBoxOption(i)"
                class="bi bi-plus-circle"
              ></i>
          </div>
          <div class="col-1">
            <i
              type="button"
              class="material-icons text-muted pointer"
              (click)="removeCheckBox(i)"
              class="bi bi-trash"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
